body {
  position: relative;

  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

/* у ссылок убраны подчеркивания */

a {
  text-decoration: none;
}

/* цвет ссылок */

.link-style {
  color: #000000;
}

/* обнуление отступов абзацев */

.paragraph-style-reset {
  margin: 0;
  padding: 0;
}

/* обнуление отступов у списков и отмена декоративного выделения элементов списка */

.list-style {
  margin: 0;
  padding: 0;

  list-style: none;
}

/* прячем блоки с текстом, доступные для читалок */

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* свойства хедера, главной части и футера */

.container {
  width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;
  -webkit-box-shadow: 0 11px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 11px 15px rgba(0, 0, 0, 0.2);
}

/* стилизация хедера */
/* свойство для позиционирования логотипа относительно блока навигации */

.main-navigation {
  position: relative;
}

/* позиционирование блока с логотипом */

.main-header-logo {
  position: absolute;
  left: 50%;
  top: -1px;
  z-index: 1;

  margin-left: -70px;
  width: 140px;
  height: 72px;
}

/* стилизация списка навигации */

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 72px;
  padding-right: 72px;
  padding-top: 15px;
  padding-bottom: 15px;

  font-weight: bold;
}

/* стилизация элементов списка слева от логотипа */

.site-navigation-item-left {
  width: 23%;

  text-align: left;
}

/* стилизация элементов списка справа от логотипа */

.site-navigation-item-right {
  width: 23%;

  text-align: right;
}

/* */

.site-navigation li:nth-child(4n+3) {
  margin-left: 83px;
}

/* поведение элементов списка навигации при наведении и фокусе */

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

/* поведение элементов списка навигации при нажатии */

.site-navigation a:active {
  color: #b2b2b2;
}

/* цвет выбранного элемента списка навигации */

.site-navigation-current a,
.site-navigation-current a:hover {
  color: #766357;
}

/* стилизация футера */

/* общая стилизация футера */

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 36px;
  padding-top: 37px;
}

/* дополнительная стилизация футера на главной */

.index-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;

  background-color: rgba(254, 254, 254, 0.9);
}

/* стилизация хештега */

.social-hashtag {
  font-weight: bold;
  font-size: 21px;
}

/* стилизация обертки хештега */

.social-hashtag-wrapper {
  width: 400px;

  text-align: center;
}

/* стилизация списка социальных сетей */

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

  width: 400px;
  margin-bottom: -6px;
  margin-right: -6px;

  line-height: 0;
}

/* стилизация элементов списка социальных сетей */

.footer-social li {
  width: 46px;
  margin-right: 6px;
  margin-bottom: 6px;
}

/* общие свойства кнопок социальных сетей */

.social-button {
  display: inline-block;
  vertical-align: middle;
  width: 46px;
  height: 48px;
}

/* цвет синих кнопок */

.button-blue {
  background-color: #81b3d2;
}

/* поведение синих кнопок при наведении и фокусе */

.button-blue:hover,
.button-blue:focus {
  background-color: #669ec0;
}

/* поведение синих кнопок при нажатии */

.button-blue:active {
  color: #88b6d1;

  background-color: #5496bd;
}

/* кнопка "Твиттер" */

.social-twitter::before {
  position: absolute;

  width: 46px;
  height: 48px;

  background-image: url("../img/twitter.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;

  content: "";
}

/* кнопка "Facebook" */

.social-facebook::before {
  position: absolute;

  width: 46px;
  height: 48px;

  background-image: url("../img/facebook.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;

  content: "";
}

/* кнопка "Youtube" */

.social-youtube::before {
  position: absolute;

  width: 46px;
  height: 48px;

  background-image: url("../img/youtube.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;

  content: "";
}

/* поведение кнопок социальных сетей при нажатии */

.social-twitter:active::before,
.social-facebook:active::before,
.social-youtube:active::before {
  opacity: 0.3;
}

/* стилизация блока авторства */

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* позиционирование блока логотипа Академии */

.copyright-logo-container {
  margin-left: 8px;

  line-height: 0;
}

/* поведение логотипа Академии при наведении и фокусе */

.copyright-logo-container:hover g,
.copyright-logo-container:focus g {
  fill: #81b3d2;
}

/* поведение логотипа Академии при нажатии */

.copyright-logo-container:active g {
  fill: #bdbbbc;
}

/* стилизация основного блока главной страницы */

/* стилизация фонового изображения */

.main-background {
  height: 508px;

  background: url("../img/welcome.svg") no-repeat,
              url("../img/polygon.svg") no-repeat,
              url("../img/background.jpg") no-repeat;
  background-size: 459px 353px, contain, cover;
  background-position: center+76px, center 452px, center -56px;
}

/* стилизация обертки "Седона - небольшой..." */

.lead-wrapper {
  padding-top: 61px;
  padding-bottom: 50px;

  text-align: center;
}

/* стилизация блока "Седона - небольшой..." */

.container-lead {
  margin-bottom: 27px;
  padding-left: 312px;
  padding-right: 312px;

  font-size: 21px;
  font-weight: bold;
}

/* стилизация блока "Рассмотрим 5 причин..." */

.container-advantages {
  padding-left: 200px;
  padding-right: 200px;

  color: #333333;
}

/* сетка списка преимуществ */

.advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* сетка главных преимуществ */

.main-advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* стилизация оберток главных преимуществ */

.main-advantages-wrapper {
  padding-left: 47px;
  padding-right: 47px;
  padding-bottom: 56px;
  padding-top: 48px;

  color: #ffffff;

  background-color: #81b3d2;
}

/* стилизация заголовков двух главных преимуществ */

.main-advantages-wrapper h3 {
  padding-left: 51px;
  padding-right: 51px;
}

/* стилизация заголовков преимуществ */

.advantages-list h3 {
  margin: 0;
  margin-bottom: 23px;

  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

/* стилизация номеров преимуществ */

.advantages-list span {
  position: relative;

  display: block;
  margin-bottom: 21px;
  padding-left: 52px;
  padding-right: 52px;

  line-height: 21px;
  text-align: center;
}

/* стилизация декоративного элемента идущего до номера главного преимущества */

.main-advantages span::before {
  position: absolute;
  top: 10px;
  left: 126px;

  width: 9px;
  height: 2px;

  background-color: #c2d9e8;

  content: "";
}

/* стилизация декоративного элемента идущего после номера главного преимущества */

.main-advantages span::after {
  position: absolute;
  top: 10px;
  left: 171px;

  width: 9px;
  height: 2px;

  background-color: #c2d9e8;

  content: "";
}

/* стилизация информации преимущств */

.advantage-info {
  text-align: center;
  line-height: 21px;
}

/* выравнивание изображения и блока главного преимущества в 1 строку */

.main-advantages-image {
  line-height: 0;
}

/* поворот главной оси для второго главного преимущества */

.main-advantages:nth-child(3) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

/* сетка внутреннего списка первого главного преимущества */

.sub-main-advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* общая стилизация элементов подсписка */

.sub-main-advantages li {
  position: relative;

  padding-bottom: 82px;
  padding-top: 162px;
}

/* стилизация заголовков подсписка */

.sub-main-advantages h3 {
  padding-left: 50px;
  padding-right: 50px;
}

/* декоративное изображение жилья */

.housing:before {
  position: absolute;
  top: 60px;
  left: 162px;

  width: 75px;
  height: 72px;

  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;

  content: "";
}

/* стилизация первого элемента подсписка */

.first-point {
  padding-left: 73px;
  padding-right: 73px;
}

/* декоративное изображение еды */

.food:before {
  position: absolute;
  top: 61px;
  left: 163px;

  width: 74px;
  height: 70px;

  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;

  content: "";
}

/* стилизация второго элемента подсписка */

.second-point {
  padding-left: 55px;
  padding-right: 55px;
}

/* декоративное изображение сувениров */

.souvenirs:before {
  position: absolute;
  top: 56px;
  left: 168px;

  width: 64px;
  height: 76px;

  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;

  content: "";
}

/* стилизация третьего элемента подсписка */

.third-point {
  padding-left: 63px;
  padding-right: 63px;
}

/* стилизация блока информации подсписка первого элемента */

.sub-advantage-1 {
  width: 254px;
}

/* стилизация блока информации подсписка второго элемента */

.sub-advantage-2 {
  width: 290px;
}

/* стилизация блока информации подсписка третьего элемента */

.sub-advantage-3 {
  width: 274px;
}

/* стилизация фона вторичных преимуществ */

.secondary-advantages {
  padding-bottom: 59px;
  padding-top: 48px;
  padding-left: 60px;
  padding-right: 60px;
  width: 280px;

  background-color: #eeeeee;
}

/* стилизация цвета информации о преимуществах */

.secondary-advantages p,
.sub-advantage-1,
.sub-advantage-2,
.sub-advantage-3 {
  color: #333333;
}

/* стилизация цвета для номеров преимуществ */

.secondary-advantages span {
  color: #333333;
}

/* стилизация декоративного элемента идущего до номера вторичного преимущества */

.secondary-advantages span::before {
  position: absolute;
  top: 10px;
  left: 115px;

  width: 9px;
  height: 2px;

  background-color: #979797;

  content: "";
}

/* стилизация декоративного элемента идущего после номера вторичного преимущества */

.secondary-advantages span::after {
  position: absolute;
  top: 10px;
  left: 155px;

  width: 9px;
  height: 2px;

  background-color: #979797;

  content: "";
}

/* стилизация отступов заголовков вторичных преимуществ */

.secondary-advantages h3 {
  padding-left: 61px;
  padding-right: 61px;
}

/* стилизация обертки блока "Заинтересовались?..." */

.interest-wrapper {
  padding-top: 52px;
  padding-bottom: 46px;

  text-align: center;
}

/* стилизация блока "Заинтересовались?" */

.interest {
  margin: 0;
  margin-bottom: 23px;
  padding-left: 300px;
  padding-right: 300px;

  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
}

/* стилизация блока "Укажите предполагаемые..." */

.interest-info {
  padding-left: 370px;
  padding-right: 370px;

  line-height: 24px;

  color: #333333;
}

/* стилизация модального окна */

.modal {
  position: relative;

  width: 568px;
  margin: 0 auto;
}

/* стилизация кнопки показа модального окна */

.button-modal {
  font-size: 21px;
  line-height: 26px;
}

/* стилизация общих свойств кнопок */

.button {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;

  border: none;
}

/* стилизация цвета коричневых кнопок */

.button-brown {
  background-color: #766357;
}

/* стилизация поведения коричневой кнопки при наведении и фокусе */

.button-brown:hover,
.button-brown:focus {
  background-color: #604e43;
}

/* стилизация поведения коричневой кнопки при нажатии */

.button-brown:active {
  color: #928a85;

  background-color: #503e33;
}

/* стилизация коричневой кнопки модального окна */

.button-modal.button-brown {
  width: 568px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 31px;
  padding-bottom: 29px;

  text-align: center;
}

/* стилизация формы на главной странице */

.book-form {
  position: absolute;

  padding: 55px;

  background-color: #ffffff;
  -webkit-box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.15);
}

/* стилизация лейблов полей ввода */

.book-form label {
  font-weight: bold;
}

/* стилизация ввода для текстовых полей дат */

.book-arrival-pos,
.book-departure-pos {
  padding-left: 10px;
  padding-right: 36px;
}

/* стилизация боксов ввода */

.book-date {
  width: 295px;
  height: 32px;

  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  outline: none;
}

/* стилизация поведения при наведении на бокс ввода */

.book-date:hover {
  background-color: #ebebeb;
  border: 2px solid #ebebeb;
}

/* стилизация поведения при фокусе бокса ввода */

.book-date:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

/* стилизация внутри поля ввода */

.book-date::-webkit-input-placeholder {
  color: #000000;
  text-transform: uppercase;
}

.book-date:-ms-input-placeholder {
  color: #000000;
  text-transform: uppercase;
}

.book-date::-ms-input-placeholder {
  color: #000000;
  text-transform: uppercase;
}

.book-date::placeholder {
  color: #000000;
  text-transform: uppercase;
}

/* позиционирование иконки календарика */

.calendar-button {
  position: absolute;
  right: 2px;
  top: 7px;

  border: none;
  background-color: transparent;
}

/* стилизация поведения иконки календарика при наведении */

.calendar-button:hover .calendar,
.calendar-button:focus .calendar {
  fill: #000000;
}

/* стилизация поведения иконки календарика при нажатии */

.calendar-button:active .calendar {
  fill: #81b3d2;
}

/* позиционирование иконки календарика для даты въезда */

.calendar-pos-1 {
  top: 9px;
}

/* позиционирование иконки календарика для даты выезда */

.calendar-pos-2 {
  top: 80px;
}

/* стилизация полей ввода количества человек */

.container-children {
  width: 32px;
  padding-left: 1px;

  text-align: center;
}

/* стилизация кнопки для декоративного элемента "минус" */

.minus {
  position: relative;

  width: 38px;
  height: 38px;
  margin: 0;
  padding: 0;

  border: none;
  background-color: #f2f2f2;
}

/* стилизация декоративного элемента "минус" */

.minus::before {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 11px;
  height: 3px;
  margin-top: -2px;
  margin-left: -5px;

  background-color: #a9a9a9;

  content: "";
}

/* стилизация поведения при наведении и фокусе на декоративный элемент "минус" */

.minus:hover::before,
.minus:focus::before {
  background-color: #000000;
}

/* стилизация поведения при нажатии на декоративный элемент "минус" */

.minus:active::before {
  background-color: #81b3d2;
}

/* стилизация кнопки для декоративного элемента "плюс" */

.plus {
  position: relative;

  width: 38px;
  height: 38px;
  margin: 0;
  padding: 0;

  border: none;
  background-color: #f2f2f2;
}

/* стилизация декоративного элемента "плюс" */

.plus::before {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 11px;
  height: 3px;
  margin-top: -2px;
  margin-left: -5px;

  background-color: #a9a9a9;

  content: "";
}

/* дополнительная стилизация декоративного элемента "плюс" */

.plus::after {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 3px;
  height: 11px;
  margin-top: -6px;
  margin-left: -1px;

  background-color: #a9a9a9;

  content: "";
}

/* стилизация поведения при наведении и фокусе на "плюс" и "минус" */

.plus:hover::before,
.plus:hover::after,
.plus:focus::before,
.plus:focus::after {
  background-color: #000000;
}

/* стилизация поведения при нажатии на "плюс" и "минус" */

.plus:active::before,
.plus:active::after {
  background-color: #81b3d2;
}

/* стилизация синей кнопки модального окна */

.button-modal.button-blue {
  width: 458px;
  padding-top: 17px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 14px;

  text-align: center;
}

/* сетка оберток дат заезда и выезда */

.paragraph-book {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

/* сетка обертки количества взрослых и детей */

.people-num-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 54px;
}

/* микросетка оберток для взрослых и детей */

.adult-wrapper,
.children-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* стилизация лейбла для взрослых */

.adult-label-wrapper {
  margin-right: 40px;
}

/* стилизация лейбла для детей */

.children-num-pos {
  margin-right: 27px;
}

/* стилизация карты */

.map {
  z-index: -1;

  display: block;
}

/* стилизация основного блока внутренней страницы */

/* стилизация формы */

.content-filter {
  padding-left: 72px;
  padding-right: 72px;
  padding-bottom: 28px;
  padding-top: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  background: url(../img/background-inner.jpg) no-repeat;
  background-position-y: -50px;
}

/* стилизация блока чекбоксов */

.checkbox-filter-wrapper {
  width: 137px;
}

/* стилизация внешнего отступа первого блока чекбоксов */

.content-filter fieldset:first-child {
  margin-right: 119px;
}

/* общая стилизация блоков чекбоксов */

.content-filter fieldset {
  padding: 0;
  margin: 0;

  border: none;
}

/* стилизация заголовка блока чекбоксов */

.filter-header {
  margin-bottom: 22px;

  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
}

/* стилизация элементов списка чекбоксов */

.options-list li {
  position: relative;

  margin-bottom: 20px;
}

/* стилизация лейблов чекбоксов */

.options-list label {
  margin-left: 40px;

  color: #ffffff;
  line-height: 21px;
}

/* стилизация чекбоксов checked */

.option:checked + label::before {
  background-image: url(../img/checkbox-on.svg);
}

/* стилизация чекбоксов */

.option + label::before {
  position: absolute;
  top: 1px;
  left: -1px;

  width: 26px;
  height: 24px;

  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;

  content: "";
}

/* стилизация чекбоксов disabled */

.option:disabled + label::before {
  background-image: url(../img/checkbox-disabled-off.svg);
}

/* стилизацция чекбоксов disabled checked */

.option:disabled:checked + label::before {
  background-image: url(../img/checkbox-disabled-on.svg);
}

/* стилизация отступа последнего элемента списка чекбоксов */

.options-list li:last-child {
  margin-bottom: 0;
}

/* стилизация фокуса лейблов чекбоксов */

.option:focus + label {
  outline: rgb(125, 173, 217) auto 5px;
}

/* стилизация фильтра */

.filter-range {
  margin-left: auto;
  width: 318px;

  color: #ffffff;
}

.filter-range-title {
  margin-bottom: 10px;

  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.price-controls {
  position: relative;

  height: 32px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;

  -webkit-transform: translate(-50%, -50%);

      -ms-transform: translate(-50%, -50%);

          transform: translate(-50%, -50%);

  content: "";
}

.price-controls .min-price,
.price-controls .max-price {
  width: 81px;
  padding-left: 65px;
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 34px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;
  line-height: 21px;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle-min {
  left: 0;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;

  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);

  cursor: pointer;
}

.range-toggle-max {
  left: 80%;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);

  cursor: pointer;
}

/* стилизация кнопки фильтра */

.btn-transparent {
  display: block;
  margin: 0;
  margin-left: 85px;
  margin-right: 85px;
  padding-top: 6px;
  padding-bottom: 5px;
  padding-left: 34px;
  padding-right: 33px;

  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;

  cursor: pointer;
}

/* стилизация поведения кнопки фильтра при наведении и фокусе */

.btn-transparent:hover,
.btn-transparent:focus {
  color: #000000;

  background: #ffffff;
}

/* стилизация блока результатов поиска  */

.search-result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 72px;
  padding-top: 32px;
  padding-bottom: 28px;
  padding-right: 73px;
}

/* стилизация блока количества найденных опций "Найдено:"  */

.search-found {
  width: 135px;
  margin-right: 29px;

  font-weight: bold;
  font-size: 21px;
}

/* стилизация блока "Сортировка"  */

.search-sort {
  margin-right: 39px;

  font-size: 12px;
  line-height: 18px;
  font-weight: bold;
}

/* стилизация сетки блока типа сортировки */

.search-sort-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 891px;
}

/* стилизация сетки списка выбора сортировки  */

.sort-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 240px;
}

/* стилизация внешних отступов для элементов списка сортировки */

.sort-type li {
  margin-right: 33px;
}

/* стилизация типов сортировки */

.sort-type a {
  font-size: 12px;
  line-height: 18px;
  color: #b2b2b2;

  border-bottom: dotted 2px #81b3d2;
}

/* стилизация поведения при наведении и фокусе на тип сортировки  */

.sort-type a:hover,
.sort-type a:focus {
  color: #81b3d2;
}

/* стилизация поведения при нажатии на тип сортировки  */

.sort-type a:active {
  color: #000000;

  border: none;
}

/* стилизация выбранного типа сортировки  */

.sort-selected a {
  color: #81b3d2;

  border: none;
}

/* стилизация списка выбора порядка сортировки */

.sort-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* стилизация элементов списка выбора порядка сортировки */

.sort-order li {
  font-size: 0;
  line-height: 0;
}

/* стилизация внешнего отступа первого элемента списка выбора типа сортировки  */

.sort-order-up {
  margin-right: 12px;
}

/* стилизация поведения при наведении и фокусе на тип порядка сортировки */

.order-button:hover path,
.order-button:focus path {
  fill: #231f20;
}

/* стилизация поведения при нажатии на тип порядка сортировки */

.sort-order path:active {
  fill: #81b3d2;
}

/* стилизация выбранного типа порядка сортировки */

.sort-order-selected path {
  fill: #81b3d2;
}

/* стилизация линий, разграничивающих найденные элементы */

.catalog-item {
  border-top: 1px solid #e5e5e5;
}

/* стилизация линии последнего найденного элемента */

.catalog-item:last-of-type {
  border-bottom: 1px solid #e5e5e5;
}

/* общая стилизация карточки элемента */

.catalog-item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  padding-left: 72px;
  padding-bottom: 30px;
  padding-right: 73px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* стилизация обертки картинки элемента */

.catalog-item-image {
  margin-right: 30px;
}

/* стилизация блока картинки элемента */

.item-image {
  display: block;

  line-height: 0;
}

/* стилизация обертки блока информации об элементе */

.item-info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 90px;
  width: 258px;
}

/* стилизация заголовка блока информации об элементе */

.item-info-wrapper h3 {
  margin: 0;

  line-height: 26px;
}

/* стилизация названия элемента */

.item-name {
  display: inline-block;
  vertical-align: top;

  line-height: 18px;
  font-size: 21px;
}

/* стилизация поведения при наведении и фокусе на название элемента  */

.item-name:hover,
.item-name:focus {
  color: #81b3d2;
}

/* стилизация поведения при нажатии на название элемента  */

.item-name:active {
  color: #cacaca;
}

/* стилизация контейнера блоков с типом и стоимостью элемента */

.item-info-container {
  margin-bottom: 11px;

  font-size: 0;
}

/* стилизация типа элемента и стоимости элемента */

.item-info {
  display: inline-block;
  width: 110px;
  margin-right: 6px;
  vertical-align: middle;

  font-size: 14px;
  line-height: 26px;
  color: #333333;
}

/* стилизация обертки для кнопок карточек элементов */

.catalog-button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* стилизация синих кнопок карточек элементов */

.button-catalog.button-blue {
  margin-right: 6px;

  text-align: center;
}

/* общая стилизация кнопок карточек элементов */

.button-catalog {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 17px;

  line-height: 11px;
}

/* стилизация коричневых кнопок карточек элементов */

.button-catalog.button-brown {
  width: 142px;

  text-align: center;
}

/* стилизация обертки блока рейтинга элемента */

.rating-wrapper {
  width: 109px;
  margin-left: auto;
}

/* стилизация блока звездочек рейтинга элемента  */

.star-rating {
  margin-bottom: 46px;
  height: 17px;

  font-size: 0;
  text-align: right;
}

/* стилизация последнего элемента в списке рейтинга */

.star-rating img:not(:last-child) {
  margin-right: 6px;
}

/* стилизация блока "Рейтинг" */

.item-rating {
  display: block;
  padding-left: 3px;
  padding-right: 1px;
  padding-top: 3px;
  padding-bottom: 3px;

  text-align: center;
  line-height: 21px;
  color: #666666;

  background-color: #f2f2f2;
}
