body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}

/* у ссылок убраны подчеркивания и задан цвет шрифта */

a {
  text-decoration: none;
  color: #000000;
}

/* общие свойства списков */

.list-style {
  list-style: none;
}

/* поведение ссылок навигации при наведении и нажатии */

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #b2b2b2;
}

/* мультифоновое изображение */

.main-background {
  background: url("../img/welcome.svg") no-repeat,
              url("../img/polygon.svg") no-repeat,
              url("../img/background.jpg") no-repeat;
  height: 500px;
}

/* свойства абзаца "Седона - небольшой..." */
/* #visitsedona свойства */
/* свойства названий жилья */

.container-lead, .social-hashtag, .item-name {
  font-size: 21px;
}

/* свойства абзаца "Рассмотрим 5 причин..." */

.container-advantages {
  font-weight: normal;
  color: #333333;
}

/* свойства заголовка "Заинтересовались?" */

.interest {
  font-size: 30px;
  line-height: 36px;
}

/* свойства абзаца "Укажите предполагаемые..." */

.interest-info {
  line-height: 24px;
  font-weight: normal;
  color: #333333;
}

/* общие свойства кнопок */

.button {
  color: #ffffff;
  text-transform: uppercase;

  border: none;
}

/* общие свойства кнопок popup'а index */

.button-modal {
  font-size: 21px;
  line-height: 26px;
}

/* свойства коричневых кнопок и поведение при наведении и нажатии */

.button-brown {
  background-color: #766357;
}

.button-brown:hover {
  background-color: #604e43;
}

.button-brown:active {
  color: #928a85;

  background-color: #503e33;
}

/* свойства синих кнопок и поведение при наведении и нажатии */

.button-blue {
  background-color: #81b3d2;
}

.button-blue:hover {
  background-color: #669ec0;
}

.button-blue:active {
  color: #88b6d1;

  background-color: #5496bd;
}

/* свойства полей ввода формы и поведение при наведении и фокусе */

.book-date {
  font-weight: bold;

  background-color: #f2f2f2;

  border: 2px solid #f2f2f2;
}

.book-date:hover {
  background-color: #ebebeb;

  border: 2px solid #ebebeb;
}


.book-date:focus {
  background-color: #ffffff;

  border: 2px solid #e5e5e5;
}

/* цвет заднего фона футера */

.main-footer {
  background-color: #fefefe;
}

/* свойства абзаца "Website by" */

.footer-copyright {
  font-weight: normal;
}

/* задание тени блоку popup'а */

.book-form {
  box-shadow: 0 0 12px 0 #ededed;
}

/* цвет текущей страницы навигации */

.site-navigation-current a, .site-navigation-current a:hover {
  color: #766357;
}

/* свойства типа жилья и цены */

.item-info {
  line-height: 21px;
  color: #333333;
  font-weight: normal;
}

/*  общие свойства кнопок каталога */

.button-catalog {
  line-height: 21px;
}

/* свойства рейтинга жилья */

.item-rating {
  line-height: 21px;
  color: #666666;
  font-weight: normal;

  background-color: #f2f2f2;
}

/* рамки товаров */

.catalog-item {
  border-top: 1px solid #e5e5e5;
}

.catalog-item:last-of-type {
  border-bottom: 1px solid #e5e5e5;
}
